body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(233, 190, 208);
    
}
.wrapper {
    width: 1000px;
    margin: auto;
    position: relative;
}
.logo {
    font-size: 25px;
    font-weight: 700;
    float: left;
}
.menu {
    float: right;
    display: flex;
}
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 55px;
    top: 0px;
    position: sticky;
    background-color:rgb(214, 176, 222); box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-decoration: none;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li { 
    float: left;
}
nav ul li a {
    align-items: center;
    margin: 10px;
    text-decoration: none;
    display: flex;
}
.menu {
    position: relative;
}
.menu li {
    position: relative;
}
.submenu1 {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    background: transparent;
}
.submenu2 {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    background: transparent;
}
.menu li:hover > .submenu1 {
    display: block;
}
.menu li:hover > .submenu2 {
    display: block;
}
.c0 {
    margin-top: 250px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 250px;
}
.c1 {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
}
.c2 {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
}
.c3 {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
}
.c4 {
    position: relative;
    top: 120px;
    margin-bottom: 200px;
}
.c4 h2 {
    text-align: center;
    font-size: 55px;
}
.c4 img {
    position: relative;
    left: 32%;
    padding: 70px;
    margin-top: -50px;
}
.kolom {
    position: relative;
    top: 50px;
    margin-bottom: 300px;
    justify-content: center;
    gap: 250px;
    display: flex;
}
.kolomc-item {
    text-align: center;
    padding: 0px;
}
